*{
    box-sizing: border-box;
}

.contact>.form-media{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

form>.form-group{
    margin-bottom: 35px;
}

form>.form-group>label{
    font-size: 1.6rem;
    display: inline-block;
    width: 220px;
}

form>.form-group:nth-child(4)>label{
    vertical-align: top;
}

form>.form-group>input.form-control{
    width: 520px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

form>.form-group>textarea.form-control{
    width: 520px;
    border-radius: 5px;
    border: none;
}

form>.form-group>.form-control{
    font-size: 1.2rem;
}

form>.form-group>.form-control:focus{
    outline: none;
    border: 3px solid #5bc0de;
}

.contact>.form-media>.contact-media{
    margin: 30px;
    font-size: 2.8rem;
}

.contact>.form-media>.contact-media>a{
    margin: 40px 10px;
    display: block;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 640px) {
    form{
        margin-left: 20px;
        margin-right: 20px;
    }
    .contact>.form-media{
        flex-direction: column;
    }

    .contact>.form-media>.contact-media{
        margin: 30px auto;
    }
    .contact>.form-media>.contact-media>a{
        display: inline-block;
        margin-right: 50px;
    }
}