@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;700&family=Ubuntu+Condensed&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', 'Ubuntu Condensed', sans-serif;
    background-color: #f172a1;
}

/* Navbar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.navbar>.nav-brand{
    margin-top: 30px;
}

.navbar>.nav-brand>.nav-link{
    font-size: 2.8rem;
    margin-left: 60px;
    text-decoration: none;
    color: #fff;
}

.mobile-menu-icon{
    display: none;
}

.navbar>.nav-menu>ul{
    display: flex;
    list-style-type: none;
}

.navbar>.nav-menu .nav-link{
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 25px 0;
    width: 150px;
    border-left: 1px solid #abcabc;
    display: block;
    transition: 0.4s background-color linear;
}

.navbar>.nav-menu>ul>li:first-child>.nav-link{
    border-left: none;
}

.navbar>.nav-menu .nav-link:hover,
.navbar>.nav-menu .nav-link:active{
    background-color: #a1c3d1;
    color: #e63398;
}

.navbar .nav-link:focus{
    outline: none;
    color: #e63398;
}

.navbar>.nav-menu .nav-link.active{
    color: #d52287;
}

.navbar>.nav-brand>.nav-link:hover{
    color: #e63398;
}

/* Home Page Section */
#main{
    display: flex;
    justify-content: space-around;
}

#main>section#profile-image{
    position: relative;
    margin-top: 40px;
    width: 300px;
    height: 300px;
    padding: 50px;
    border-radius: 50%;
    border: 5px solid #a1c3d1;
    background-color: #b39bc8;
    overflow: hidden;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75) inset;
}

#main>section#profile-image>img{
    position: absolute;
    bottom: -50px;
    text-align: center;
}

#main>section.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem;
    color: #fff;
}

#main>section.home-text>h1>span{
    color: #cdcdcd;
}

#main>section.home-text>h1:last-child{
    margin-top: -10px;
}

#main>section.home-text>h1:first-child{
    margin-bottom: -65px;
    margin-left: -50px;
}

.btn-talk{
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 25px 50px;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    transition: all .25 ease-in-out;
    background: linear-gradient(to bottom, #33d3ff, #b39bc8, 76%, #b39bc8 76%);
    /* transition: background-color 0.15s linear; */
}

.btn-talk:hover, .btn-talk:focus{
    border-color: #cdcdcd;
    background: #33d3ff;
    color: black;
}

/* Media Queries */
@media screen and (max-width: 990px) {
    .navbar{
        justify-content: space-between;
        position: relative;
    }

    .navbar>.nav-brand{
        margin-left: -40px;
    }

    .navbar>.nav-menu>ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        /* display: none; */
    }

    .navbar>.nav-menu>ul>.nav-item{
        width: 100%;
    }

    .navbar>.nav-menu>ul>.nav-item>.nav-link{
        text-align: right;
        padding: 15px 25px 15px 0;
        width: 100%;
        border-bottom: 1px solid #abcabc;
        border-left: none;
        font-size: 1.2rem;
    }

    .mobile-menu-icon{
        display: block;
        font-size: 2.8rem;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    main#main{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    #main>section.home-text{
        margin-left: 10%;
        margin-right: auto;
        font-size: 2.4rem;
        text-align: center;
    }
}