@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;700&family=Ubuntu+Condensed&display=swap');

html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', 'Ubuntu Condensed', sans-serif;
    background-color: #f172a1;
    position: relative;
    overflow-x: hidden;
}

/* Navbar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100vw;
}

.navbar>.nav-brand{
    margin-top: 30px;
}

.navbar>.nav-brand>.nav-link{
    font-size: 2.8rem;
    margin-left: 60px;
    text-decoration: none;
    color: #fff;
}

.mobile-menu-icon{
    display: none;
}

.navbar>.nav-menu>ul{
    display: flex;
    list-style-type: none;
}

.navbar>.nav-menu .nav-link{
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 25px 0;
    width: 150px;
    border-left: 1px solid #abcabc;
    display: block;
    transition: 0.4s background-color linear;
}

.navbar>.nav-menu>ul>li:first-child>.nav-link{
    border-left: none;
}

.navbar>.nav-menu .nav-link:hover,
.navbar>.nav-menu .nav-link:active{
    background-color: #a1c3d1;
    color: #e63398;
}

.navbar .nav-link:focus{
    outline: none;
    color: #e63398;
}

.navbar>.nav-menu .nav-link.active{
    color: #d52287;
}

.navbar>.nav-brand>.nav-link:hover{
    color: #e63398;
}

/* Home Page Section */
.main{
    display: flex;
    justify-content: space-around;
    padding-bottom: 125px;
    width: 100vw;
}

.main>section#profile-image{
    position: relative;
    margin-top: 40px;
    width: 300px;
    height: 300px;
    padding: 50px;
    border-radius: 50%;
    border: 5px solid #a1c3d1;
    background-color: #b39bc8;
    overflow: hidden;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75) inset;
}

.main>section#profile-image>img{
    position: absolute;
    bottom: -50px;
    text-align: center;
}

.main>section.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem;
    color: #fff;
}

.main>section.home-text>h1>span{
    color: #cdcdcd;
}

.main>section.home-text>h1:last-child{
    margin-top: -10px;
}

.main>section.home-text>h1:first-child{
    margin-bottom: -65px;
    margin-left: -50px;
}

/* Skills Section */
.skills{
    /* margin-top: 120px; */
    border-top: 3px solid #fff;
    background: url('../images/background3.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
}

.skills h1{
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.skills>.skills-content>.card-container>.card-container-content>.card-front{
    width: 100%;
    font-size: 4.2rem;
    color: #fff;
    background-color: #f172a1;
}

.skills>.skills-content{
    border-radius: 3px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, .09);
    /* width: 100vw; */
    padding: 21px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 42px;
    margin-bottom: 42px;
}

.card-container{
    width: 270px;
    height: 413px;
}

.card-container-content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.card-container:hover .card-container-content{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-back{
    background-color: #cdcdcd;
    color: #e63398;
    transform: rotateY(180deg);

}

/* Button To Top Styles */
.button-to-top{
    position: fixed;
    color: #121212;
    font-size: 2.2rem;
    width: 60px;
    height: 60px;
    border: 1px solid #cdcdcd;
    background-color: #abcabc;
    text-align: center;
    border-radius: 50%;
    right: 40px;
    bottom: 90px;
    opacity: 0.8;
    padding: 10px;
    /* margin: auto; */
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.75);
}

.button-to-top>a{
    text-decoration: none;
}

.button-to-top:hover i{
    transform: scale(1.4);
}

/* Contact Section Styles */

.contact{
    border-top: 2px solid #fff;
    padding-top: 60px;
}

.contact>h1{
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}


/* Media Queries */
@media screen and (max-width: 990px) {
    html{
        border: 1px solid black;
    }

    body{
        border: 1px solid blue;
    }

    .navbar{
        justify-content: space-between;
        position: relative;
    }

    .navbar>.nav-brand{
        margin-left: -40px;
    }
    .navbar>.nav-brand>.nav-link{
        font-size: 2.2rem;
    }

    .navbar>.nav-menu>ul{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 0;
        overflow: hidden;
    }

    .navbar>.nav-menu>ul>.nav-item{
        width: 100%;
    }

    .navbar>.nav-menu>ul>.nav-item>.nav-link{
        text-align: right;
        padding: 15px 25px 15px 0;
        width: 100%;
        border-bottom: 1px solid #abcabc;
        border-left: none;
        font-size: 1.2rem;
    }

    .mobile-menu-icon{
        display: block;
        font-size: 2.8rem;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .navbar>.nav-menu>.active{
        position: absolute;
        top: 180px;
        right: 25px;
        overflow: visible;
    }

    main.main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main>section.home-text{
        margin-left: 10%;
        margin-right: 10%;
        min-width: 620px;
        font-size: 2.4rem;
        text-align: center;
    }

    .skills>.skills-content{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 22px;
    }

    .card-container{
        width: 170px;
        height: 313px;
    }
}